<h2>Programming Books List!</h2>
<!-- <button (click)="handleClick()"  [disabled]="isDisabled">Show Books</button> -->
<!-- <button (click)="toggleBooks()">Toggle Books</button> -->
<button (click)="isShowing = !isShowing">
  <!-- <span *ngIf="!isShowing">Show Books</span>
    <span *ngIf="isShowing">Hide Books</span> -->
  <ng-container *ngIf="!isShowing">Show Books</ng-container>
  <ng-container *ngIf="isShowing">Hide Books</ng-container>
</button>

<!-- <input type="text" [(ngModel)]="myName">
<div>{{ myName }}</div>  -->
<!-- whatever I write in input it should show its value in div -->
<ul *ngIf="isShowing">
  <ng-container *ngFor="let book of books; let i = index">
    <li>
      {{ i + 1 }}
      <!-- I just changed from interpolation {{}} src="{{src}}" to property binding [] [src]="src" 
   we use property binding because it always reads as true check button as example -->
      <img [src]="book.image" [alt]="book.name" width="100" />
      {{ book.name }} by {{ book.auther }}
    </li>
  </ng-container>
</ul>
